Repository Nopm/Beat-Station, pull requests merged in 2019-12, with the labels that each got.

#261 Automatic changelog compile via github actions
  .github/workflows/autochangelog_compile.yml
Labels: GitHub

#259 Improves autobuild tgui-next github action
  .github/workflows/autobuild_tgui.yml
  tgui-next/bin/tgui
Labels: GitHub, UI

#256 Changes the game icon logo into the Beat! logo
  hippiestation/interface/skin.dmf
  icons/beat_32.png
  icons/beat_64.png
Labels: Sprites

#258 Adds HoS pug and grill
  _maps/map_files/Beat!Box/Beat!Box.dmm
Labels: Map Edit

#260 Fixes some dirty var edits on Kilo maps
  _maps/map_files/Beat!Kilo/Beat!Kilo.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/Mining/tgLavaland.dmm
Labels: Map Edit

#268 Improves automatic tgui rebuild and changelog compile
  .github/workflows/autobuild_tgui.yml
  .github/workflows/autochangelog_compile.yml
Labels: GitHub

#269 Actually improves automatic tgui rebuild
  .github/workflows/autobuild_tgui.yml
  .github/workflows/autochangelog_compile.yml
Labels: GitHub

#286 Fixes miners access
  beatstation.dme
  beatstation/code/modules/cargo/expressconsole.dm
  beatstation/code/modules/cargo/packs.dm
  beatstation/code/modules/jobs/job_types/shaft_miner.dm
Labels: Fix

#287 Adds telesci to beat!box
  _maps/map_files/Beat!Box/Beat!Box.dmm
Labels: Feature, Map Edit

#288 Moves the detective office to security
  _maps/map_files/Beat!Box/Beat!Box.dmm
Labels: Feature, Map Edit

#291 Fixes xcom rifle and mag guns
  beatstation.dme
  beatstation/code/modules/projectiles/guns/ballistic/xcomrifle.dm
  beatstation/code/modules/research/designs/weapon_designs.dm
  beatstation/code/modules/research/techweb/all_nodes.dm
Labels: Balance/Rebalance

#294 Beat!Box map tweaks
  _maps/map_files/Beat!Box/Beat!Box.dmm
  beatstation.dme
  beatstation/code/game/area/Space_Station_13_areas.dm
Labels: Fix, Map Edit, Tweak

#302 Fixes autobuild tgui
  .github/workflows/autobuild_tgui.yml
Labels: GitHub

#303 Fixes the telepad control console
  hippiestation/code/modules/telescience/telesci_computer.dm
Labels: Feature, Fix

#308 Fixes autobuild tgui, for real this time
  .github/workflows/autobuild_tgui.yml
Labels: GitHub

#310 Fixes emote spam
  beatstation.dme
  beatstation/code/datums/emotes.dm
  beatstation/code/modules/mob/mob_defines.dm
  code/datums/brain_damage/split_personality.dm
  code/modules/mob/camera/camera.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix

#314 Improves automatic changelog compile
  .github/workflows/autochangelog_compile.yml
Labels: GitHub

#320 Adds bartender locker and some bar stuff
  beatstation/code/game/objects/effects/decals/turfdecal/markings.dm
  beatstation/code/game/objects/effects/decals/turfdecal/tilecoloring.dm
  beatstation/code/game/objects/structures/bar_stuff.dm
  beatstation/code/game/objects/structures/crates_lockers/closets/secure/service.dm
  beatstation/icons/mob/animal.dmi
  beatstation/icons/obj/chairs.dmi
  beatstation/icons/obj/closet.dmi
  beatstation/icons/obj/smooth_structures/ameritable.dmi
  beatstation/icons/obj/special_slot_machine.dmi
  beatstation/icons/turf/floors.dmi
Labels: Feature, Tweak

#321 Random station rooms
  _maps/RandomRuins/StationRuins/BeatBox/bar_box.dmm
  _maps/RandomRuins/StationRuins/BeatBox/bar_casino.dmm
  _maps/RandomRuins/StationRuins/BeatBox/bar_conveyor.dmm
  _maps/RandomRuins/StationRuins/BeatBox/bar_default.dmm
  _maps/RandomRuins/StationRuins/BeatBox/bar_diner.dmm
  _maps/RandomRuins/StationRuins/BeatBox/bar_disco.dmm
  _maps/RandomRuins/StationRuins/BeatBox/bar_purple.dmm
  _maps/RandomRuins/StationRuins/BeatBox/bar_spacious.dmm
  _maps/RandomRuins/StationRuins/BeatBox/bar_trek.dmm
  _maps/RandomRuins/StationRuins/BeatBox/xenobridge_default.dmm
  _maps/RandomRuins/StationRuins/BeatBox/xenobridge_space.dmm
  _maps/map_files/Beat!Box/Beat!Box.dmm
  beatstation.dme
  beatstation/code/controllers/subsystem/mapping.dm
  beatstation/code/datums/ruins/station.dm
  beatstation/code/game/objects/effects/landmarks.dm
  beatstation/icons/rooms/bar.dmi
  beatstation/icons/rooms/engine.dmi
  beatstation/icons/rooms/maint_xenobio.dmi
  code/_globalvars/lists/mapping.dm
  code/controllers/subsystem/mapping.dm
Labels: Feature, Map Edit

#338 Makes the telescience lab random
  _maps/RandomRuins/StationRuins/BeatBox/sci_experimentor.dmm
  _maps/RandomRuins/StationRuins/BeatBox/sci_telescience.dmm
  _maps/map_files/Beat!Box/Beat!Box.dmm
  beatstation/code/datums/ruins/station.dm
  beatstation/code/game/objects/effects/landmarks.dm
  beatstation/icons/rooms/sci_telescience.dmi
Labels: Map Edit, Tweak

#339 fixes some var edits on random station room maps
  _maps/RandomRuins/StationRuins/BeatBox/bar_box.dmm
  _maps/RandomRuins/StationRuins/BeatBox/bar_casino.dmm
  _maps/RandomRuins/StationRuins/BeatBox/bar_conveyor.dmm
  _maps/RandomRuins/StationRuins/BeatBox/bar_diner.dmm
  _maps/RandomRuins/StationRuins/BeatBox/bar_disco.dmm
  _maps/RandomRuins/StationRuins/BeatBox/bar_purple.dmm
  _maps/RandomRuins/StationRuins/BeatBox/bar_spacious.dmm
  _maps/RandomRuins/StationRuins/BeatBox/bar_trek.dmm
Labels: Map Edit

#341 Liteweb Hud
  beatstation/icons/mob/screen_liteweb.dmi
  code/_onclick/hud/hud.dm
Labels: Feature

#359 deletes a duplicate icon
  icons/obj/tasertron.dmi
Labels: Sprites

#360 improves automatic changelog compile
  .github/workflows/autochangelog_compile.yml
Labels: GitHub
