Repository Nopm/Beat-Station, pull requests merged in 2020-02, with the labels that each got.

#461 Tweaks Vila do Chaves space ruin
  _maps/RandomRuins/SpaceRuins/viladochavesabandonada.dmm
Labels: Feature, Map Edit, Tweak

#463 Add a new drink called Guaraná Antarctica
  beatstation.dme
  beatstation/code/modules/food_and_drinks/drinks/drinks.dm
  beatstation/code/modules/food_and_drinks/drinks/drinks/drinkingglass.dm
  beatstation/code/modules/reagents/chemistry/reagents/drink_reagents.dm
  beatstation/icons/obj/drinks.dmi
  code/modules/vending/cola.dm
  icons/obj/janitor.dmi
Labels: Feature, Sprites

#464 Revert "borers now spawns as a random event as it should be"
  hippiestation/code/game/gamemodes/miniantags/borer/borer_events.dm
Labels: Removal, Revert

#467 Add a new drink called Chimarrão
  beatstation/code/modules/food_and_drinks/drinks/drinks.dm
  beatstation/code/modules/reagents/chemistry/reagents/drink_reagents.dm
  beatstation/icons/obj/drinks.dmi
  code/modules/vending/coffee.dm
Labels: Feature

#468 Added "Vai se foder Dante" bar sign.
  beatstation.dme
  beatstation/code/game/objects/structures/barsigns.dm
  icons/obj/barsigns.dmi
Labels: Feature, Sprites

#471 Adds Guaraná Antarctica Vendor
  beatstation.dme
  beatstation/code/modules/vending/cola.dm
  beatstation/icons/obj/vending.dmi
Labels: Feature

#473 Adds a panel icon to the Guarana machine.
  beatstation/icons/obj/vending.dmi
Labels: Fix

#472 Tweaks Vila do Chaves space ruin
  _maps/RandomRuins/SpaceRuins/viladochavesabandonada.dmm
Labels: Feature, Map Edit, Tweak

#479 Fix cargo tech access again
  beatstation.dme
  beatstation/code/modules/jobs/job_types/botanist.dm
Labels: Fix

#475 Adds non-eutactic blades
  beatstation.dme
  beatstation/code/game/objects/items/melee/energy.dm
  beatstation/code/game/objects/items/twohanded.dm
  beatstation/code/modules/uplink/uplink_items.dm
  beatstation/icons/mob/inhands/64x64_lefthand.dmi
  beatstation/icons/mob/inhands/64x64_righthand.dmi
  beatstation/icons/mob/inhands/weapons/swords_lefthand.dmi
  beatstation/icons/mob/inhands/weapons/swords_righthand.dmi
  beatstation/icons/obj/1x2.dmi
  beatstation/icons/obj/items_and_weapons.dmi
  beatstation/sound/weapons/nebhit.ogg
  beatstation/sound/weapons/neboff.ogg
  beatstation/sound/weapons/nebon.ogg
  code/game/objects/items/holy_weapons.dm
Labels: Feature

#481 fix hud icon
  beatstation/icons/mob/screen_liteweb.dmi
Labels: Fix

#485 Job specific ID cards
  beatstation.dme
  beatstation/code/datums/components/storage/concrete/wallet.dm
  code/game/machinery/computer/card.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/wallets.dm
  code/modules/antagonists/highlander/highlander.dm
  code/modules/awaymissions/capture_the_flag.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/economy/account.dm
  code/modules/modular_computers/file_system/programs/card.dm
  code/modules/paperwork/contract.dm
  icons/obj/card.dmi
  icons/obj/storage.dmi
Labels: Feature, Sprites, Tweak

#488 Synthetic Flash
  _maps/map_files/Beat!Box/Beat!Box.dmm
  _maps/map_files/Beat!Kilo/Beat!Kilo.dmm
  beatstation.dme
  beatstation/code/modules/assembly/flash.dm
  beatstation/code/modules/research/designs/mechfabricator_designs.dm
  beatstation/icons/obj/device.dmi
  code/modules/surgery/bodyparts/robot_bodyparts.dm
  code/modules/vending/robotics.dm
Labels: Balance/Rebalance, Feature, Map Edit

#499 Fixes map rotation chance delta config³
  config/config.txt
Labels: Config Update

#501 Adds more upstream maps so we can change them
  _maps/_basemaphippie.dm
  _maps/beat!delta.dm
  _maps/beat!delta.json
  _maps/beat!donut.dm
  _maps/beat!donut.json
  _maps/beat!meta.dm
  _maps/beat!meta.json
  _maps/beat!pubby.dm
  _maps/beat!pubby.json
  _maps/map_files/Beat!Delta/Beat!Delta.dmm
  _maps/map_files/Beat!Donut/Beat!Donut.dmm
  _maps/map_files/Beat!Meta/Beat!Meta.dmm
  _maps/map_files/Beat!Pubby/Beat!Pubby.dmm
  _maps/map_files/Beat!Pubby/job_changes.dm
Labels: Feature, Map Edit

#500 Adds sec glocks
  _maps/map_files/Beat!Box/Beat!Box.dmm
  _maps/map_files/Beat!Delta/Beat!Delta.dmm
  _maps/map_files/Beat!Donut/Beat!Donut.dmm
  _maps/map_files/Beat!Kilo/Beat!Kilo.dmm
  _maps/map_files/Beat!Meta/Beat!Meta.dmm
  _maps/map_files/Beat!Pubby/Beat!Pubby.dmm
  beatstation.dme
  beatstation/code/modules/projectiles/ammunition/ballistic/pistol.dm
  beatstation/code/modules/projectiles/boxes_magazines/external_mag.dm
  beatstation/code/modules/projectiles/guns/ballistic/pistols.dm
  beatstation/code/modules/projectiles/projectile/bullets/pistol.dm
  beatstation/icons/obj/ammo/ammo.dmi
Labels: Balance/Rebalance, Feature, Map Edit

#502 Added back the hybrid tasers to the maps that were missing them.
  _maps/map_files/Beat!Delta/Beat!Delta.dmm
  _maps/map_files/Beat!Donut/Beat!Donut.dmm
  _maps/map_files/Beat!Kilo/Beat!Kilo.dmm
  _maps/map_files/Beat!Meta/Beat!Meta.dmm
  _maps/map_files/Beat!Pubby/Beat!Pubby.dmm
Labels: Map Edit, Removal, Tweak

#504 Adds missing ammo stuff for g9mm rounds
  _maps/map_files/Beat!Box/Beat!Box.dmm
  _maps/map_files/Beat!Delta/Beat!Delta.dmm
  _maps/map_files/Beat!Donut/Beat!Donut.dmm
  _maps/map_files/Beat!Kilo/Beat!Kilo.dmm
  _maps/map_files/Beat!Meta/Beat!Meta.dmm
  _maps/map_files/Beat!Pubby/Beat!Pubby.dmm
  beatstation.dme
  beatstation/code/modules/projectiles/boxes_magazines/ammo_boxes.dm
Labels: Feature, Map Edit

#503 Automatic crew transfer
  beatstation.dme
  beatstation/code/controllers/configuration/entries/general.dm
  beatstation/code/controllers/subsystem/ticker.dm
  beatstation/code/controllers/subsystem/vote.dm
  beatstation/sound/ai/alarm4.ogg
  code/controllers/subsystem/ticker.dm
  config/beatstation_config.txt
  config/config.txt
  hippiestation/code/controllers/subsystem/vote.dm
  hippiestation/code/modules/shuttle/emergency.dm
Labels: Config Update, Feature

#506 Replaces sci flashes with synthflashes on all maps
  _maps/map_files/Beat!Delta/Beat!Delta.dmm
  _maps/map_files/Beat!Donut/Beat!Donut.dmm
  _maps/map_files/Beat!Meta/Beat!Meta.dmm
  _maps/map_files/Beat!Pubby/Beat!Pubby.dmm
Labels: Map Edit, Tweak

#507 Map rotation
  beatstation/code/controllers/subsystem/vote.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/persistence.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/vote.dm
  code/modules/admin/verbs/maprotation.dm
  config/maps.txt
  hippiestation/code/controllers/subsystem/vote.dm
  hippiestation/code/modules/shuttle/emergency.dm
Labels: Config Update, Tweak

#508 Fix missing synthflashes
  _maps/map_files/Beat!Delta/Beat!Delta.dmm
  _maps/map_files/Beat!Meta/Beat!Meta.dmm
  _maps/map_files/Beat!Pubby/Beat!Pubby.dmm
Labels: Map Edit

#514 Removes headslugs from gold extact spawn
  hippiestation/code/modules/mob/living/simple_animal/hostile/headcrab.dm
Labels: Removal

#517 Removes hippie station hub banner
  code/game/world.dm
Labels: Removal

#515 Improves crew transfer
  beatstation.dme
  beatstation/code/controllers/configuration/entries/general.dm
  beatstation/code/controllers/subsystem/ticker.dm
  beatstation/code/controllers/subsystem/vote.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/vote.dm
  config/beatstation_config.txt
Labels: Config Update

#518 Some map fixes
  _maps/map_files/Beat!Box/Beat!Box.dmm
  _maps/map_files/Beat!Delta/Beat!Delta.dmm
  _maps/map_files/Beat!Donut/Beat!Donut.dmm
  _maps/map_files/Beat!Kilo/Beat!Kilo.dmm
  _maps/map_files/Beat!Pubby/Beat!Pubby.dmm
Labels: Feature, Fix, Map Edit
